*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    /* background-color: #09203f; */
    /* background: #243949; */
    text-decoration: none;
    /* background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%); */
    background-image: linear-gradient(250deg,#00aff6,#00d8d8);
    /* background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%); */
    /* background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); */
    width: 100vw;
    height: 100vh;
    position: relative;
}

.options.active{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(252, 252, 252, 0.4);
  width: 60vw;
  height: 50vh;
  /* border-radius: 20px; */
  display: flex;
  justify-content: center;
  padding: 4rem;
  flex-wrap: wrap;
  /* border-bottom: rgba(0, 0, 0, 0.7) solid 2px; */
  /* border-right: rgba(0, 0, 0, 0.7) solid 2px; */
  /* box-shadow: inset rgba(252, 252, 252, 0.1) -3px -3px 10px,
              inset rgba(252, 252, 252, 0.1) 3px 3px 10px; */
              box-shadow: 2px 2px 10px rgba(252, 252, 252, 0.1), 2px 2px 10px rgba(0,0,0,0.3), inset rgba(252, 252, 252, 0.1) 3px 3px 10px;
}
@media (max-width: 950px){
  .options.active{
    width: 90vw;
  }
}
@media (max-width: 600px){
  .options.active{
    height: 70vh;
    width: 90vw;
  }
}
.options {
  display: none;
}

.user_type {
  text-decoration: none;
  width: 10rem;
  height: 10rem;
  margin: 20px;
  /* background: rgba(0, 0, 0, 0.4); */
  background: #006994;
  display: flexbox;
  border-radius: 5px;
  color: #ccc;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-bottom: rgba(0, 0, 0, 0.9) 2px solid;
  border-right: rgba(0, 0, 0, 0.9) 2px solid;
  margin: 0 30px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.user_type i{
  text-decoration: none;
  margin: 0.5rem 0;
  font-size: 6rem;
  color: #d9d9d9;
  transition: 0.5s;
}

.user_type:hover i {
  color: #fff;
  transform: scale3d(1.07, 1.07, 1.1);
}
.user_type:hover{
  background: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width:900px){
  .options {
    width: 280px;
    height: 500px;
  }
}

.user_log {
  display: none;
}

.user_log.active {
  display: block;
}

.user_type{
  text-decoration: none;
}
.user_type:hover{
  color: #ccc
}